# PySpark DataFrames and SQL

[Jian Tao](https://orcid.org/0000-0003-4228-6089), Texas A&M University

May 1, 2021

### 1. Set up the PySpark environment first

In [118]:
# For each Google Colab, we will need to run this cell to ensure that PySpark is installed properly.
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Colab").config('spark.ui.port', '4050').getOrCreate()

# !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
# !unzip -o ngrok-stable-linux-amd64.zip
# get_ipython().system_raw('./ngrok http 4050 &')
# !curl -s http://localhost:4040/api/tunnels | python3 -c "import sys, json; print(\"\nClick me to launch (give it a minute or two)\n\"); print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

Requirement already satisfied: pyspark in /home/jtao/Projects/venv/lib/python3.8/site-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /home/jtao/Projects/venv/lib/python3.8/site-packages (from pyspark) (0.10.9)

### 2. Create a DataFrame by reading from a CSV/JSON file

`spark.read.csv` can only read from local files, so we will have to download the CSV file from the URL first. We can use `SparkFiles` to do that or use `pandas`. For those CSV files with a header, please make sure to set `header=True` in the argument list for `spark.read.csv`. When the data types of the columns are not known, `inferSchema=True` will do the trick to automatically recognize the data types, but it is not perfect. In our example, `Horsepower` is not correctly recognized.

In [119]:
from pyspark import SparkFiles

csv_url = "https://raw.githubusercontent.com/jtao/AdvancedML/main/data/Auto.csv"
json_url = "https://raw.githubusercontent.com/jtao/dswebinar/master/pyspark/Auto.json"

spark.sparkContext.addFile(csv_url)
spark.sparkContext.addFile(json_url)

## One can create a spark dataframe from pandas dataframe as well.
# import pandas as pd
# df = spark.createDataFrame(pd.read_csv(url))

#df = spark.read.csv(SparkFiles.get("Auto.csv"), header=True, sep=",", inferSchema=False)
df = spark.read.csv(SparkFiles.get("Auto.csv"), header=True, sep=",", inferSchema=True)
df.printSchema()
df.show(5)

root
 |-- mpg: double (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- displacement: double (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- acceleration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- name: string (nullable = true)

+----+---------+------------+----------+------+------------+----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+----+---------+------------+----------+------+------------+----+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|  70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|  70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|  70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|  70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|  70|     1|         ford torino|
+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 5 rows

In [139]:
df = spark.read.json(SparkFiles.get("Auto.json"))
df.printSchema()
df.show(10)

root
 |-- acceleration: double (nullable = true)
 |-- cylinders: long (nullable = true)
 |-- displacement: double (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- name: string (nullable = true)
 |-- origin: long (nullable = true)
 |-- weight: long (nullable = true)
 |-- year: long (nullable = true)

+------------+---------+------------+----------+----+--------------------+------+------+----+
|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+------------+---------+------------+----------+----+--------------------+------+------+----+
|        12.0|        8|       307.0|       130|18.0|chevrolet chevell...|     1|  3504|  70|
|        11.5|        8|       350.0|       165|15.0|   buick skylark 320|     1|  3693|  70|
|        11.0|        8|       318.0|       150|18.0|  plymouth satellite|     1|  3436|  70|
|        12.0|        8|       304.0|       150|16.0|       amc rebel sst|     1|  3433|  70|
|        10.5|        8|       302.0|       140|17.0|         ford torino|     1|  3449|  70|
|        10.0|        8|       429.0|       198|15.0|    ford galaxie 500|     1|  4341|  70|
|         9.0|        8|       454.0|       220|14.0|    chevrolet impala|     1|  4354|  70|
|         8.5|        8|       440.0|       215|14.0|   plymouth fury iii|     1|  4312|  70|
|        10.0|        8|       455.0|       225|14.0|    pontiac catalina|     1|  4425|  70|
|         8.5|        8|       390.0|       190|15.0|  amc ambassador dpl|     1|  3850|  70|
+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 10 rows

We can define a schema to help `spark.read.csv` to correctly cast the type of all the columns.

In [140]:
from pyspark.sql.types import *

user_schema = StructType([
                     StructField("mpg", IntegerType(), True),
                     StructField("cylinders", IntegerType(), True),
                     StructField("displacement", IntegerType(), True),
                     StructField("horsepower", IntegerType(), True),
                     StructField("weight", IntegerType(), True),
                     StructField("acceleration", DoubleType(), True),
                     StructField("year", IntegerType(), True),
                     StructField("origin", IntegerType(), True),
                     StructField("name", StringType(), True)
])

df = spark.read.csv(SparkFiles.get("Auto.csv"), header=True, sep=",", schema=user_schema, inferSchema=True)

df.printSchema()
df.show(5)

root
 |-- mpg: integer (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- displacement: integer (nullable = true)
 |-- horsepower: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- acceleration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- name: string (nullable = true)

+---+---------+------------+----------+------+------------+----+------+--------------------+
|mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+---------+------------+----------+------+------------+----+------+--------------------+
| 18|        8|         307|       130|  3504|        12.0|  70|     1|chevrolet chevell...|
| 15|        8|         350|       165|  3693|        11.5|  70|     1|   buick skylark 320|
| 18|        8|         318|       150|  3436|        11.0|  70|     1|  plymouth satellite|
| 16|        8|         304|       150|  3433|        12.0|  70|     1|       amc rebel sst|
| 17|        8|         302|       140|  3449|        10.5|  70|     1|         ford torino|
+---+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 5 rows

In [145]:
df = spark.read.json(SparkFiles.get("Auto.json"))
df.printSchema()
df.show()

root
 |-- acceleration: double (nullable = true)
 |-- cylinders: long (nullable = true)
 |-- displacement: double (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- name: string (nullable = true)
 |-- origin: long (nullable = true)
 |-- weight: long (nullable = true)
 |-- year: long (nullable = true)

+------------+---------+------------+----------+----+--------------------+------+------+----+
|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+------------+---------+------------+----------+----+--------------------+------+------+----+
|        12.0|        8|       307.0|       130|18.0|chevrolet chevell...|     1|  3504|  70|
|        11.5|        8|       350.0|       165|15.0|   buick skylark 320|     1|  3693|  70|
|        11.0|        8|       318.0|       150|18.0|  plymouth satellite|     1|  3436|  70|
|        12.0|        8|       304.0|       150|16.0|       amc rebel sst|     1|  3433|  70|
|        10.5|        8|       302.0|       140|17.0|         ford torino|     1|  3449|  70|
|        10.0|        8|       429.0|       198|15.0|    ford galaxie 500|     1|  4341|  70|
|         9.0|        8|       454.0|       220|14.0|    chevrolet impala|     1|  4354|  70|
|         8.5|        8|       440.0|       215|14.0|   plymouth fury iii|     1|  4312|  70|
|        10.0|        8|       455.0|       225|14.0|    pontiac catalina|     1|  4425|  70|
|         8.5|        8|       390.0|       190|15.0|  amc ambassador dpl|     1|  3850|  70|
|        10.0|        8|       383.0|       170|15.0| dodge challenger se|     1|  3563|  70|
|         8.0|        8|       340.0|       160|14.0|  plymouth 'cuda 340|     1|  3609|  70|
|         9.5|        8|       400.0|       150|15.0|chevrolet monte c...|     1|  3761|  70|
|        10.0|        8|       455.0|       225|14.0|buick estate wago...|     1|  3086|  70|
|        15.0|        4|       113.0|        95|24.0|toyota corona mar...|     3|  2372|  70|
|        15.5|        6|       198.0|        95|22.0|     plymouth duster|     1|  2833|  70|
|        15.5|        6|       199.0|        97|18.0|          amc hornet|     1|  2774|  70|
|        16.0|        6|       200.0|        85|21.0|       ford maverick|     1|  2587|  70|
|        14.5|        4|        97.0|        88|27.0|        datsun pl510|     3|  2130|  70|
|        20.5|        4|        97.0|        46|26.0|volkswagen 1131 d...|     2|  1835|  70|
+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 20 rows

### 3. Create a Spark DataFrame with a list

In [52]:
auto_list = [(1, 18, "Chevrolet"), (2, 15, "Buick"), (3, 18, "Plymouth"), (4, 16, "Amc"), (5, 17, "Ford")]

df = spark.createDataFrame(auto_list)
df.printSchema()
df.show(5)

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

users_schema = StructType([
                          StructField("id", IntegerType(), True),
                          StructField("mpg", IntegerType(), True),
                          StructField("name", StringType(), True)])

df = spark.createDataFrame(auto_list, schema=users_schema)
df.printSchema()
df.show(5)

root
 |-- _1: long (nullable = true)
 |-- _2: long (nullable = true)
 |-- _3: string (nullable = true)

+---+---+---------+
| _1| _2|       _3|
+---+---+---------+
|  1| 18|Chevrolet|
|  2| 15|    Buick|
|  3| 18| Plymouth|
|  4| 16|      Amc|
|  5| 17|     Ford|
+---+---+---------+

root
 |-- id: integer (nullable = true)
 |-- mpg: integer (nullable = true)
 |-- name: string (nullable = true)

+---+---+---------+
| id|mpg|     name|
+---+---+---------+
|  1| 18|Chevrolet|
|  2| 15|    Buick|
|  3| 18| Plymouth|
|  4| 16|      Amc|
|  5| 17|     Ford|
+---+---+---------+

### 3. Create a Spark DataFrame with a list of dictionaries

In [53]:
auto_list = [{"id": 1, "mpg": 18, "name": "Chevrolet"}, 
                {"id": 2, "mpg": 15, "name": "Buick"}, 
                {"id": 3, "mpg": 18, "name": "Plymouth"}, 
                {"id": 4, "mpg": 16, "name": "Amc"}, 
                {"id": 5, "mpg": 17, "name": "Ford"}]
df = spark.createDataFrame(auto_list)
df.printSchema()
df.show(5)

root
 |-- id: long (nullable = true)
 |-- mpg: long (nullable = true)
 |-- name: string (nullable = true)

+---+---+---------+
| id|mpg|     name|
+---+---+---------+
|  1| 18|Chevrolet|
|  2| 15|    Buick|
|  3| 18| Plymouth|
|  4| 16|      Amc|
|  5| 17|     Ford|
+---+---+---------+

### 4. Operations on Spark DataFrame

In [160]:
# Select only the "name" column
df.select("name").show(5)

+--------------------+
|                name|
+--------------------+
|chevrolet chevell...|
|   buick skylark 320|
|  plymouth satellite|
|       amc rebel sst|
|         ford torino|
+--------------------+
only showing top 5 rows

In [161]:
# Select everybody, but increment the mpg by 100
df.select(df['name'], df['mpg'] + 100).show(5)

+--------------------+-----------+
|                name|(mpg + 100)|
+--------------------+-----------+
|chevrolet chevell...|      118.0|
|   buick skylark 320|      115.0|
|  plymouth satellite|      118.0|
|       amc rebel sst|      116.0|
|         ford torino|      117.0|
+--------------------+-----------+
only showing top 5 rows

In [162]:
# Select mpg greater than 30
df.filter(df['mpg'] > 30).show(5)

+------------+---------+------------+----------+----+-------------------+------+------+----+
|acceleration|cylinders|displacement|horsepower| mpg|               name|origin|weight|year|
+------------+---------+------------+----------+----+-------------------+------+------+----+
|        19.0|        4|        71.0|        65|31.0|toyota corolla 1200|     3|  1773|  71|
|        18.0|        4|        72.0|        69|35.0|        datsun 1200|     3|  1613|  71|
|        19.0|        4|        79.0|        67|31.0|        datsun b210|     3|  1950|  74|
|        21.0|        4|        71.0|        65|32.0|toyota corolla 1200|     3|  1836|  74|
|        16.5|        4|        76.0|        52|31.0|      toyota corona|     3|  1649|  74|
+------------+---------+------------+----------+----+-------------------+------+------+----+
only showing top 5 rows

In [166]:
# Count Cars by cylinders
df.groupBy("cylinders").count().show(10)

+---------+-----+
|cylinders|count|
+---------+-----+
|        6|   84|
|        5|    3|
|        3|    4|
|        8|  103|
|        4|  203|
+---------+-----+

### 5. Running SQL queries programmatically

In [172]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("auto")
sqlDF = spark.sql("SELECT * FROM auto")
sqlDF.show(5)

+------------+---------+------------+----------+----+--------------------+------+------+----+
|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+------------+---------+------------+----------+----+--------------------+------+------+----+
|        12.0|        8|       307.0|       130|18.0|chevrolet chevell...|     1|  3504|  70|
|        11.5|        8|       350.0|       165|15.0|   buick skylark 320|     1|  3693|  70|
|        11.0|        8|       318.0|       150|18.0|  plymouth satellite|     1|  3436|  70|
|        12.0|        8|       304.0|       150|16.0|       amc rebel sst|     1|  3433|  70|
|        10.5|        8|       302.0|       140|17.0|         ford torino|     1|  3449|  70|
+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 5 rows

In [179]:
# Register the DataFrame as a global temporary view
df.createGlobalTempView("car")

In [183]:
# Global temporary view is tied to a system preserved database `global_temp`
spark.sql("SELECT * FROM global_temp.car").show(5)

# Global temporary view is cross-session
spark.newSession().sql("SELECT * FROM global_temp.car").show(5)

+------------+---------+------------+----------+----+--------------------+------+------+----+
|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+------------+---------+------------+----------+----+--------------------+------+------+----+
|        12.0|        8|       307.0|       130|18.0|chevrolet chevell...|     1|  3504|  70|
|        11.5|        8|       350.0|       165|15.0|   buick skylark 320|     1|  3693|  70|
|        11.0|        8|       318.0|       150|18.0|  plymouth satellite|     1|  3436|  70|
|        12.0|        8|       304.0|       150|16.0|       amc rebel sst|     1|  3433|  70|
|        10.5|        8|       302.0|       140|17.0|         ford torino|     1|  3449|  70|
+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 5 rows

+------------+---------+------------+----------+----+--------------------+------+------+----+
|acceleration|cylinders|displacement|horsepower| mpg|                name|origin|weight|year|
+------------+---------+------------+----------+----+--------------------+------+------+----+
|        12.0|        8|       307.0|       130|18.0|chevrolet chevell...|     1|  3504|  70|
|        11.5|        8|       350.0|       165|15.0|   buick skylark 320|     1|  3693|  70|
|        11.0|        8|       318.0|       150|18.0|  plymouth satellite|     1|  3436|  70|
|        12.0|        8|       304.0|       150|16.0|       amc rebel sst|     1|  3433|  70|
|        10.5|        8|       302.0|       140|17.0|         ford torino|     1|  3449|  70|
+------------+---------+------------+----------+----+--------------------+------+------+----+
only showing top 5 rows